{% load static %}
<link rel="stylesheet" href = "{% static 'booksStyle.css' %}">

{% block footer %}
    <footer class="bg-dark text-white mt-4 sticky-bottom" id="footer">
        <div class="container-fluid py-3">
            <div class="col">
                <div class="row d-flex justify-content-center align-items-center">
                    <h5>Book's List</h5>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="text-right small">©2018 Dhita Putri Pratama.</div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
