<!DOCTYPE html>
    <html>
        <head>
            <title>Books List</title>
            {% load static %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href = "{% static 'booksStyle.css' %}">
            <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            
        </head>
        <body>
            {% include "navbar.html" %}
            {% block navbar %}
            {% endblock %}
            
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    {% if user.is_authenticated %}
                    <h1>List of Books</h1>
                    <table class="table-responsive" border = 1>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Published Date</th>
                                    <th scope="col">Cover</th>
                                    <th scope="col">Add to Favourite</th>
                                </tr>
                            </thead>
                                <tbody id="books">
                                </tbody>
                        </table>
                    </table>
                    <div class="overlay text-align:center">
                        Number of Added Favourite Books:<div id="test"><input type="text" name="TextBox" id="TextBox" value="0" /></div>
                    </div>
                    <div class = "col-6">
                        <div class="overlay text-align:center">
                            <label for="search">Find Another List of Books</label>
                            <input type="text" class="form-control" placeholder="Name of Category e.g quilting" id="challenge"></h1>
                        </div>
                        <button type="button" class="btn btn-dark" id="chall">Find</button>  
                    </div> 
                    {% else %}
                    <a class="lead" href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="btn btn-dark" id="loginid">Log In with Google</button>  </a>
	                {% endif %}
                </div>
            </div>
                             
            <script src = "{% static 'daftar.js' %}"></script>
	
            {% include "footer.html" %}
            {% block footer %}
            {% endblock %}
        </body>
    </html>