<!DOCTYPE html>
    <html>
        <head>
            <title>Books List</title>
            {% load static %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href = "{% static 'booksStyle.css' %}">
            <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            
            
        </head>
        <body>
            {% include "navbar.html" %}
            {% block navbar %}
            {% endblock %}

            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <h1>Back to Home</h1>
                </div>
                <div class="row d-flex justify-content-center align-items-center">
                    <a class="lead" href="{% url 'index'%}"><button type="button" class="btn btn-dark" id="loginid">Back</button></a>
                </div>
            </div>
        </body>
    </html>