html, body {
    height: 100%;
    margin: 0;

}
body {
    padding-top: 80px;
    /* display:flex;
    align-items:center; */
}
@media screen and (max-width: 768px) {
    body { 
        padding-top: 80px;
        padding-bottom: 1024px;
    }
}

#footer {
    flex-shrink: 0;
    flex: 1;
}
